* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  background: linear-gradient(45deg, #000046, #1CB5E0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  min-height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px  #1c232D;
          box-shadow: 0 0 15px  #1c232D;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15));
}

.wrapper__added {
  padding: 20px;
  margin-top: 0;
  margin-bottom: 25px;
}

.exchange-window {
  width: 80%;
  text-align: center;
}

.exchange-window__header {
  margin: 20px;
  font-family: 'Courgette';
  letter-spacing: 1px;
}

.exchange-window__title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.exchange-window__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.currency-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.currency-block__amount, .currency-block__select {
  border: none;
  color: #fff;
  background-color: transparent;
}

.currency-block__amount {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.currency-block__select {
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.currency-block__amount:focus, .currency-block__select:focus {
  outline: none;
  color: royalblue;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.currency-block__switch-ico {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 5px;
  padding: 5px 25px;
  background: linear-gradient(45deg, rgba(0, 132, 255, 0.1), rgba(255, 255, 255, 0.4));
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 10px #444444;
          box-shadow: 0px 0px 10px #444444;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.currency-block__switch-ico:focus, .currency-block__switch-ico:hover {
  outline: none;
  background: linear-gradient(135deg, rgba(0, 132, 255, 0.01), rgba(255, 255, 255, 0.4));
}

.rate-info {
  margin: 15px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
}

.fa-solid {
  font-size: 2rem;
  background: -webkit-linear-gradient(#6fe2ff 0% 50%, #000f99 50% 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn__add-exchange-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(45deg, #000046, #1CB5E0);
}

.btn__add-exchange-window:focus, .btn__add-exchange-window:hover {
  outline: none;
  background: linear-gradient(135deg, rgba(0, 62, 121, 0.01), rgba(5, 0, 70, 0.4));
}

.btn__add-exchange-window:focus p,
.btn__add-exchange-window:hover p {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.btn__add-exchange-window p {
  font-size: 2.5rem;
  color: #dfdfdf;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */