.body {
  background: linear-gradient(135deg, #000046, #1CB5E0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}