.body {
  background: linear-gradient(45deg, $bgcGradFirst, $bgcGradSecond);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}